<!--{% extends 'base.html' %}-->

<!--{% block content %}-->
<!--<div class="container mt-1">-->
<!--    <h2>Все теги:</h2>-->
<!--    <div class="row">-->
<!--        <div class="col-md-2">-->
<!--            <div class="list-group">-->
<!--                {% for t in tag %}-->
<!--                <a href="{% url 'tags' t.tag %}" class="list-group-item list-group-item-action">{{ t.tag}}-->
<!--                <span class="badge bg-primary rounded-pill">{{ t.cnt }}</span>-->
<!--                </a>-->
<!--                {% endfor %}-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--{% endblock %}-->